<div id="container">
  <h1>The To Do List</h1>

  <div id="todo">
  <div class="toolbox">
    <form action="/add_todo" method="post">
      <input autofocus id="todo_content" type="text" name="todo_content" placeholder="Enter your todo item here!"/>
      <input id="addTodo" type="submit" value="New Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>
  </div>

  <div class="todo_list">
    <ul>
      <!-- From DB -->
    <% @todos.each do |todo| %>
      <li data-id="<%= todo.id %>">
        <input class="complete_todo" type="checkbox" name="completed"
        <%= todo.completed ? 'checked="checked"' : ' ' %> />
        <span class="todo_content"><%= todo.todo_content %></span>
        <button class="delete_todo" type="button">delete</button>
      </li>
    <% end %>
    </ul>
  </div>

  <!-- Ajax to Screen -->
  <div id="todo_template" style="display: none;">
    <li data-id="">
      <input class="complete_todo" type="checkbox" name="completed"/>
      <span class="todo_content">Todo Content</span>
      <button class="delete_todo" type="button">delete</button>
    </li>
  </div><!-- Todo Template End -->
</div>
</div>